{% extends "base.html" %}

{% load static %}
{% block CSS %}
 <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
{% endblock CSS %}

{% block title %}Add {{ title }}{% endblock title %}

{% block body%}

<h1>ADD {{ title }}</h1>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="small-5 large-5" style="margin-left:10px">{{ form.as_p }}</div>
    <div class="small-5 large-5">
         {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
        <input style="float:right" type="submit" value="Create" /><br></div>


</form>
{% endblock body%}