{% extends "base.html" %}

{% load static %}

{% block CSS %}
 <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">

{% endblock CSS %}

{% block title %}Detail Room{% endblock title %}

{% block body%}

<!--{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}-->


<!-- <h1> room  - {{ room.name|upper }}</h1> -->

<!-- character -->
<form action="{% url 'room:fight' %}" method="post">

    <div class="small-6 large-6 columns">
{% if username %}
    <a href="/add_character"><button type="button" class="btn btn-lg btn-success" data-toggle="popover" title="create new Character"
            data-content="Right?" style="margin: 0px 0px 5px 10px; "> <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Add Character</button></a>
{% endif %}
    <br>


{% if not username %}
    <p style="text-align:center; font-size:20px">Choose your character:</p>

    {% for character in characters %}
        <div class="small-4 large-4 columns">
        {% if character.image %}
                <img src="{{ character.image.url }}" alt="{{ character.name }}" width="100px" height="100px"  />
            {% else %}
                <img alt="" width="50px" height="50px"/>NO IMAGE
            {% endif %}
        <br>

            <input type="checkbox" name="player_id" value="{{character.id}}">
            {% if username %}
            <a href="/edit_character/{{ character.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a></span>
            {% endif %}
            {{character.name}}-{{character.race}}
            {% if username %}
            <a href="/remove_character/{{ character.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            {% endif %}
            <br>

        </div>
    {% endfor %}
</div>
{% endif %}
<!-- END character -->

    {% if username %}
        <div style="margin-left: 20%">
        <p>Player - {{ username }}</p>
        {% if characters_user.image %}
                <img src="{{ characters_user.image.url }}" alt="{{ characters_user.name }}" width="250px" height="250px"  />
            {% else %}
                <img alt="" width="50px" height="50px"/>NO IMAGE
        {% endif %}
            <br>
            <p><input type="checkbox" name="player_id" value="{{characters_user.id}}" style="display:none" checked="checked">
                {{characters_user.name}}-{{characters_user.race}}</p>
</div>
    {% endif %}
</div>

<div style="float:right" class="small-6 large-6 columns">

    <p style="text-align:center; font-size:20px; margin-top:50px">Choose enemy:</p>
    {% for character in characters %}
      <div class="small-4 large-4 columns">
        {% if character.image %}
                <img src="{{ character.image.url }}" alt="{{ character.name }}" width="100px" height="100px"  />
            {% else %}
                <img alt="" width="50px" height="50px"/>NO IMAGE
            {% endif %}
        <br>

            <input type="checkbox" name="enemy_id" value="{{character.id}}">
          {% if username %}
          <a href="/edit_character/{{ character.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a></span>
          {% endif %}
          {{character.name}}-{{character.race}}
          {% if username %}
          <a href="/remove_character/{{ character.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          {% endif %}
          <br>

        </div>
    {% endfor %}
</div>


<input class="button btn btn-danger" type="submit" value="Fight">
</form>


{% endblock body%}

{% block scripts %}<script src="{% static 'js/choose.js' %}"></script>{% endblock scripts %}